@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #4E37FB;
  --secondary-color: #717680;
}


.form-label{
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0%;
    color: var(--secondary-color);
}
.input-field{
    width: 100%;
    height: 48px;
    border-radius: 4px;
    padding-top: 10px;
    padding-right: 14px;
    padding-bottom: 10px;
    padding-left: 14px;
    border-width: 1px;
    border-color: #D0D5DD;
    outline: none;
}

.auth-link{
    font-family: Inter;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0%;
    color: var(--primary-color);
}
.auth-btn{
    width: 100%;
    height: 48;
    border-radius: 4px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;
    padding-left: 20px;
    border-width: 1px;
    background: var(--primary-color);
    color: white;
    cursor: pointer;
    font-family: Inter;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0%;

}


input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
  background-color: white !important;
  color: #000 !important;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

